1) Height:
The height property is used to set the height of an element. Height can be defined in percentage % or pixels px.
Percentage height is calculated based on the height of the immediate parent element.

HTML:
<p>
  The div given below is set to 200px height and the image is set to 50% of the height of the div
</p>
<div>
  <img src="https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/fort-kochi-beach_oxymW955x.jpg" alt="Fort Kochi Beach">
</div>

CSS:
div {
  height: 200px;
  background-color: #f5f5f5;
}
img {
  height: 50%;
}

2) Weight:
The width property is used to set the width of an element. Width can be defined in percentage % or pixels px.
Percentage width is calculated based on the width of its immediate parent element.

HTML:
<div id="parent">
  <div id="first">
    This div is set to 300px width
  </div>
  <div id="second">
    This div is set to 50% width
  </div>
</div>

CSS:
#parent {
  border: 3px solid darkcyan;
}
#first {
  width: 300px;
  height: 100px;
  background-color: yellow;
}
#second {
  width: 50%;
  height: 100px;
  background-color: orange;
}

3) Units:
Absolute Units
When we use absolute units to specify a length, the size is fixed and does not depend on the size of other elements.
Example: px

Relative Units
When we use relative units to specify a length, it depends on the size of other elements.
Example: %

4) Pixels:
A pixel represents a unit of measurement commonly used for specifying exact sizes and dimensions on a display. Each pixel corresponds to a single dot on the screen, maintaining the same physical size regardless of screen resolution or surrounding elements.

Look at the code given below:
HTML:
<div id="pixels">
</div>

CSS:
#pixels {
  width: 100px;
  height: 50px;
  background-color: teal;
}

5) Percentage:
When width, height or font size of an element is specified in %, it is relative to the parent element's width, height or font-size:

HTML:
<div>
  Width, height and font size in %
</div>
<p>
  Normal font size
</p>

CSS:
html, body {
  width: 100%;
  height: 100%;
  background-color: yellow;
}
div {
  width: 50%;
  height: 50%;
  background-color: orange;
  font-size: 200%;
}

6) Percentage Practical Use:
Percentage units can be used when we want the size of the children elements to be dependent on the size of their parent elements.

Take a look at this example:
HTML:
<div class="parent">
    <div class="child smaller-block">
    </div>
    <div class="child larger-block">
    </div>
</div>

CSS:
.parent {
    width: 500px;
    height: 300px;
    background-color: peachpuff;
}

.child {
    display: inline-block;
    height: 200px;
    background-color: midnightblue;
    margin: 8px;
    color: snow;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.smaller-block {
    width: 20%;
}

.larger-block {
    width: 70%;
}
