1) Color:

Example 1:
body{
  background-color: blue;
  color: white;
}

Example 2:
p{
  color: blue;
}

Example 3:
body {
  background-color: lightgreen;
}

h1 {
  color: red;
}

2) Selectors:

HTML:
<h1>
  Solar System
</h1>
<p>
  The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.
</p>

CSS:
body {
  background-color: beige;
}
h1 {
  color: darkgreen;
}
p {
  font-size: 18px;
}


a) We need selectors to select the HTML elements we want to style. In t2.14Inline Style
We used body, h1, and p as the Selectors in the above example.
Note that a different text color has been applied to the h1 element by using the h1 selector.
b) Here, background color, color, and font size are the Properties that we want to change. 
While, beige, dark green, blue, and 18px are the Values we can give to these properties.

3) Comments: /* */

4) Inline Style:
Inline styling is a way to specify CSS properties and their corresponding values directly on the HTML element using the style attribute.

Example:
<h1 style="color:white; background-color: blue; font-size:14px; font-family:arial,sans-serif">
      Inline style
</h1>

As we can see above, inline styling makes the code too long and confusing. This is why we avoid using inline styling.
Use inline styling only when necessary.

5) text-decoration:
HTML:
<h2>
  Solar System
</h2>

CSS:
h2 {
  text-decoration: underline;
}
