1) Color:

Example 1:
body{
  background-color: blue;
  color: white;
}

Example 2:
p{
  color: blue;
}

Example 3:
body {
  background-color: lightgreen;
}

h1 {
  color: red;
}

2) Selectors:

HTML:
<h1>
  Solar System
</h1>
<p>
  The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.
</p>

CSS:
body {
  background-color: beige;
}
h1 {
  color: darkgreen;
}
p {
  font-size: 18px;
}


a) To select the HTML elements that we want to style, we need selectors. In the above example, we used body, h1, and p as the Selectors.
Note that a different text color has been applied to the h1 element by using the h1 selector.
b) Here, background color, color, and font size are the Properties that we want to change. 
While, beige, dark green, blue, and 18px are the Values that we can give to these properties.

3) Comments: /* */

4) 
