* Margin:
The margin property defines the spacing around an element.

HTML:
<p>
  A paragraph with 2em margin on all four sides
</p>
<span>
  Another element here
</span

/* In HTML, a <span> element is a generic inline container for phrasing content, which does not inherently represent anything. It's often used to apply styles or manipulate a specific part of the text or content using CSS or JavaScript.
The <span> element has no semantic meaning on its own. Its main purpose is to allow developers to target a portion of the content for styling or scripting without affecting the document's structure.*/

CSS:
body {
  background-color: orange;
}
p {
  background-color: yellow;
  margin: 2em;
}

2) We can separately set margin properties for each side of an element using margin-top, margin-bottom, margin-left and margin-right.
CSS:
#first {
  background-color: yellow;
  margin-top: 50px;
  margin-left: 100px;
}
#second {
  background-color: orange;
  margin-right: 80px;
}

3) Margin 1 liner:
Instead of using individual properties for top, bottom, right, and left margins, the single margin property can be used to specify different values for each direction.

a) Four values: If this property has four different values separated by spaces:
margin: 10px 20px 30px 40px;
10px is top margin 20px is right margin 30px is bottom margin 40px is left margin
Values get assigned in the clockwise direction starting from the top.

b) Three values: If this property has three values:
margin: 10px 20px 30px;
10px is top margin, 20px is right margin as well as the left margin, 30px is bottom margin 

c) Two values: If this property has two values:
margin: 10px 20px;
10px is top and bottom margin, 20px is right and left margin

d) One value: If this property has only one single value:
margin: 10px;
All four margins are 10px in size.
