1) color:
We can set the color of the text in any element on the web page using its color property.
The values can be color names, HEX values, or RGB values.

2) text-alignment:
We can make our text-align the way we want, using the text-align property.
We can use the values left, right, center, or justify to align the text accordingly.
h2 {
  text-align: center;
}
p {
  text-align: justify;
}
ul {
  text-align: left;
  /* This is the default value */
}
#credits {
  text-align: right;
}

3) Text decoration:
We can underline text, strike through it or remove an underline using the text-decoration property.
CSS:
h1{
  text-decoration: underline overline dotted red;
}
h2 {
  text-decoration: underline;
}
#old-price {
  text-decoration: line-through;
}
a {
  text-decoration: none;
  /* Removes default underline */
  color: purple;
}
#new-price {
  color: green;
}
