6) font-size:
We can modify the size of any text using the font-size property.

HTML:
<h1>The Solar System</h1>
<p>
  The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.
</p>

CSS:
h1 {
  font-size: 2.4em;
}
p {
  font-size: 120%;
}

7) 
