6) font-size:
We can modify the size of any text using the font-size property.

HTML:
<h1>The Solar System</h1>
<p>
  The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.
</p>

CSS:
h1 {
  font-size: 2.4em;
}
p {
  font-size: 120%;
}

7) font-weight:
The font-weight property is used to make text bolder or lighter.
We can use normal, bold, lighter, and bolder values for this. 
We can also use numbers in the multiples of 100 such as 100, 200, and so on up to 900. 
Here 100 is the lightest and 900 is the boldest.

CSS:
#first {
  font-weight: bold;
}
#second {
  font-weight: 400; /* Normal */
}

8) font-family:
The font-family property can help us choose which font we want for our text.
By default, this value is serif. The other generic font families are sans-serif, monospace, cursive, and fantasy.

CSS:
#serif {
  font-family: serif;
}
#sans-serif {
  font-family: sans-serif;
}
#monospace {
  font-family: monospace;
}
#cursive {
  font-family: cursive;
}
#fantasy {
  font-family: fantasy;
}
p {
  font-size: 1.2em;
  margin-top: 10px;
}

9) specific font:
Serif and sans serif are generic fonts. If we need to display the text in a specific font, we have to instead use actual font names such as Arial or Times New Roman.
However, not all fonts are available on all browsers. So, we need to specify fallbacks. We can provide as many fallback choices as we need separated by commas in the font-family property. 
The first available font in the browser gets used.

h2 {
  font-family: 'Times New Roman', serif;
}
#first {
  font-family: 'Open Sans', sans-serif;
}
#second {
  font-family: 'Roboto', 'Trebuchet MS', sans-serif;
}
