1) Overview:
The border properties in CSS are used to create borders around an HTML element. We can control the width, color and the general styling of the border using these properties.

HTML:
<div id="first">
  Border on all sides
</div>
<div id="second">
  Green dotted border at the bottom
</div>
<button>
  Button with 3D effect
</button>

CSS:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border: solid 1px darkgrey;
}
#second {
  border-bottom-style: dotted;
  border-color: green;
}
button {
  margin-top: 10px;
  padding: 8px 12px;
  border-style: outset;
}

2) border-style:
HTML:
<div id="first">
  Solid border
</div>
<div id="second">
  Dashed border
</div>
<div id="third">
  Double border
</div>

CSS:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
}
#second {
  border-style: dashed;
}
#third {
  border-style: double;
}

*Values for border style include solid, dashed, double, dotted, groove, ridge, inset, outset and none.

3) Border Style: Multiple values:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid dotted dashed ridge; (top right bottom left) 
}

4) Border width:
The border-width property is used to specify the thickness of the borders.
For specifying values, we can use the standard absolute or relative units or we can use values like thin, medium, or thick.
When this property is not set, a medium border appears by default.

CSS:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
  border-width: thin;
}
#second {
  border-style: solid;
  /* Width not specified */
}
#third {
  border-style: none none solid;
  border-width: 2px;
}

5) Border width: Multiple values:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
  border-width: thin 4px medium 10px;
}
