6) Border Color:
The border-color property is used to specify the color of the borders using color names or RGB or HEX values.
When this property is not set, the border takes the value of the element's color property. The default value for color is black.
The border color can also be set to transparent.

div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
  border-color: orange;
}
#second {
  border-style: double;
  border-color: #cccccc;
}
#third {
  border-style: solid;
  color: green;
  /* Border color not specified */
}

7) Border color multiple values:
div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
  border-color: grey red blue green;
}

8) Border Sides:
We can set different styles, widths, and colors for the borders of the different sides of an element. We do this by specifying multiple values for the same property, like border-width: 3px 3px 4px 5px.
However, there are individual properties such as border-top-style, border-right-width, border-bottom-color among others, for styling borders for specific sides!

div {
  padding: 10px;
  margin: 10px;
}
#first {
  border-style: solid;
  border-left-color: red;
  border-right-color: green;
}
#second {
  border-top-style: dashed;
  border-bottom-style: dashed;
  border-color: #cccccc;
}

9) Border Shorthand Property:
The three different border properties for style, width, and color can be combined into a single border shorthand property.

div {
  padding: 10px;
  margin: 10px;
  background-color: pink;
}

/* Border created using border-style, border-width and border-color properties */
#first {
border: 5px dashed red;
}

*For the border shorthand property, border-style value is required. The colour and width are optional.*
