11) Rounded Corners:
When you need rounded corners instead of the default sharp corners, you can use the border-radius property.

div {
  width: 100px;
  height: 100px;
  margin: 10px;
}
#first {
  background-color: teal;
  border-radius: 15px;
}
#second {
  background-color: red;
  border: 5px solid darkred;
  border-radius: 50%;
}

*A square can be turned into a circle and a rectangle into an oval, if we give border-radius the value 50%.
As you can see in the above example, border-radius can be used with or without the border property.*

12) Border Radius - Multiple Values:

The first value is for the top-left corner.
The second value is for the top-right corner.
The third value is for the bottom-right corner.
The fourth value is for the bottom-left corner.

div {
  width: 250px;
  height: 150px;
  background-color: teal;
  border-radius: 40px 10px 0px 100px;
}
