1) Background Color:
We can add a background color to an HTML element using the background-color property.
Color can be specified using color names, HEX values, or RGB values.

body {
  background-color: teal;
}
p {
  background-color: #f0fdfa;
  padding: 20px;
}

2) Background Image:
An image can be added to the background of any element using the background-image property.

HTML:
<h1>
  Monsoon
</h1>
<p>
  A monsoon is traditionally a seasonal reversing wind accompanied by corresponding changes in precipitation, but is now used to describe seasonal changes in atmospheric circulation and precipitation associated with the asymmetric heating of land and sea.
</p>

CSS:
body {
  background-image: url('https://images.pexels.com/photos/4913167/pexels-photo-4913167.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=600');
  padding: 30px;
  color: white;
}

*In the above example, we used a large image. But if the image is smaller than the size of the element, the image repeats itself to cover the entire space*

3) Background Repeat:
By default, the background image repeats itself horizontally and vertically, if it's smaller than the element. This can be changed using the background-repeat property.

a) When this property is set to no-repeat, the image does not repeat itself:

body {
  padding: 60px;
  background-image: url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=150');
  /* Image will not repeat */
  background-repeat: no-repeat;
}

b) When the property is set to repeat-x, it repeats itself only in the horizontal direction:

c) When the property is set to repeat-y, it repeats itself only in the vertical direction:

4) 
