1) Display Blocks:
The heading elements - h1 to h6, header, footer, section and form, div and p elements have their default display set to block.
And so they always start on a new line and stretch to completely fit in the available width. 
Block elements start on a new line, occupy 100% of width by default, and can have height, and width properties, and also have functional margins on all four sides.

But elements like span and a do not create a new line and only take up as much space as needed.
This behavior is set by the element's display property.

We can make elements like span, a, and img behave like block-level elements by setting their display property to block:

CSS:  
p {
  background-color: yellow;
  margin-top: 30px;
}
span, a {
  display: block;
  background-color: orange;
  margin-top: 30px;
}

2) Display Inline:
The span, a, and img elements have their display set to inline by default. These elements do not start on a new line and take up only as much space as required.

CSS:
li {
    display: inline;

}
a {
  padding: 10px;
}

*For inline elements, we cannot specify width or height. Also, vertical margins do not have any effect*

3) Display Inline Block:
Sometimes it's helpful to have elements displayed in the same line but also behave like block-level elements with specified height and width.
This can be achieved with the display value of inline-block:

CSS:
a {
  display: inline-block;
  background-color: orange;
  width: 150px;
  height: 50px;
  line-height: 50px;
  margin-top: 50px;
}
