.container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.contents {
  background-color: hsl(192, 15%, 94%);
  width: 105vh;
  height: 680px;
  border-radius: 200px 200px  0% 0%;
  margin-top: 5px;
}

img {
  width: 400px;
  border-radius: 50%;
}

.heading {
  text-decoration: underline ;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
  font-size: 50px;
  font-weight: 276;
  font-family: 'Roboto', sans-serif;
}

.para {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

button {
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: white; 
}

/*helps to change the color of the bottom once clicked; --> hover*/
.follow:hover {
    background-color: rgb(43, 199, 32);
}

.remove:hover {
    background-color: rgb(249, 5, 5);
}
