1) offset-x ( | ) and offset-y ( -- ):
The box-shadow property in CSS is used to create a shadow effect around an element. 
To create a box-shadow, we need to provide at least two values offset-x and offset-y.

syntax: box-shadow: offset-x offset-y;

Example:
HTML:
<div id="container">
  <div class="box"></div>
</div>

CSS:
.box {
  height: 300px;
  width: 300px;
  margin: 20px;
  background-color: coral;
  box-shadow: 20px 25px;
}

Explanation: 
a) 20px: offset-x, 
b) 25px: offset-y

2) +ve & -ve offset:
CSS:
.right-downward-shadow {
  box-shadow: 10px 0px;
}

.right-upward-shadow {
  box-shadow: 10px -10px;
}

.left-downward-shadow {
  box-shadow: -10px 10px;
}

.left-upward-shadow {
  box-shadow: -10px -10px;
}

3.1) Adding rgba color to Shadow:
We can add a color value to the box-shadow property. Specifying a color is optional. 
The box-shadow will be black by default if we do not provide a color.

syntax: box-shadow: offset-x offset-y blur-radius spread-radius color;

Example:
.pink-shadow {
  box-shadow: 10px 10px pink;
}
/*offset-x, offset-y, color*/

.orange-shadow {
  box-shadow: 10px 10px orange;
}
/*offset-x, offset-y, color*/

.gray-shadow {
  box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
}
/*offset-x, offset-y, color(red, green, blue, alpha(light/bold of shadow)*/

.blue-shadow {
  box-shadow: -10px -10px rgba(50, 50, 90, 0.25);
}
/*offset-x, offset-y, color(red, green, blue, alpha(light/bold of shadow)*/

3.2) hex color to the shadow:
Example:
.rose-brown-shadow {
  box-shadow: 20px 30px #AA7788;
}

.pale-green-shadow {
  box-shadow: 50px 30px #98FB98;
}

4) Adding blur-radius to Shadow:
The blur-radius value determines the degree of blurriness in the shadow. It is an optional property. 
If the blur-radius value is not specified, it defaults to 0.

syntax: box-shadow: offset-x offset-y blur-radius spread-radius color;

Example:
.high-blur-shadow {
  box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
}
/*15px: blurs the shadow*/

5) Adding spread-radius to Shadow:


syntax: box-shadow: offset-x offset-y blur-radius spread-radius color;

Example:







