1) Overview:
Links can be styled in many different ways using properties like color, background-color, border, padding, text-decoration and so on!

Example:
a {
  margin-right: 30px;
  font-family: sans-serif;
}
#first {
  color: tomato;
}
#second {
  color: teal;
  text-decoration: none;
}
#third {
  padding: 12px 15px;
  text-decoration: none;
  color: darkgreen;
  background-color: lightgreen;
}
#fourth {
  padding: 12px 15px;
  text-decoration: none;
  color: orange;
  border: 1px solid;
}

2) 
