1) Marker Style:
For an unordered list, each item has a little circular disc as the marker type by default. 
We can change this marker using the property: list-style-type!
Marker types: 
i) unordered lists: square, disc, and circle
ii) ordered lists: decimal, upper-alpha, lower-roman and upper-roman
iii) The value 'none' can be used to remove the markers for both types of lists.

Example:
ul {
  list-style-type: square;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

2) List Marker Image:
The property list-style-image can be used to display an image in place of the list item marker!
Example:
ul {
  list-style-image: url('blue-marker.png');
}

3) List Marker Position:'
The list-style-position property is used to specify whether the list marker is placed within the list text or outside the list text
Types: inside, outside

Example:
ul {
  max-width: 350px;
  margin-left: -20px;
}
#inner {
  list-style-position: inside;
}
#outer {
  list-style-position: outside; /* Default value */
}

4) 
