1) Styling Text Fields & Text Areas:
The text fields and textareas in forms can be styled in multiple ways using: 
width, height, padding, border, color, background-color, and fonts.

HTML:
<form>
    <p>Rounded corners:</p>
    <input id="input1" type="text" placeholder="Type something">
    <p>Only bottom border:</p>
    <input id="input2" type="text" placeholder="Type something">
    <p>Larger font size and background color:</p>
    <textarea placeholder="Type something"></textarea>
</form>

CSS:
p {
    margin: 20px 0 10px;
}
#input1 {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
}
#input1:focus, #input1:hover {
  outline: none;
  border: 1px solid black;
}
#input2 {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
}
textarea {
  width: 250px;
  height: 80px;
  padding: 8px 12px;
  font-family: serif;
  font-size: 18px;
  background-color: lightyellow;
}

2) Width & Height for Text Inputs:
Just like any other element in HTML, we can give a width and height to text fields and text areas using any of the sizing units.
HTML:
<form>
  <input type="text" placeholder="Your Name">
  <textarea placeholder="Your Bio"></textarea>
</form>

CSS:
form {
  width: 300px;
  border: 3px solid black;
}
input {
  width: 200px;
  height: 25px;
}
textarea {
  width: 100%;
  height: 100px;
}
/*The textarea in the above example occupies 100% width of its parent element, form.*/

3) selecting input by type:
If we use the input selector for styling, the changes will apply to all types of inputs including text input= fields, radio buttons, checkboxes, button input types, etc
To style each type of input differently, we can select these elements using the attribute selector:
input[type="value"]

4) Padding & Margin for Text Inputs:
We can add spacing within the text fields and text areas using the padding property 
and spacing around these input types using the margin property!

Example:
input[type="text"], textarea {
  padding: 15px;
  margin: 10px 0;
  width: 300px;
}

5) Border for text inputs:
Text input fields and textareas have a border by default.
But we can change their look using the border property, border: ;!
Can create rounder border, using: border-radius: ;!

6) Color for text inputs:
We can set the text color and background color of text inputs using the color and background-color properties!
/*If we don't specify any border color, the text color is applied to the border too.*/

7) Font and Font Size for Text Inputs:
a) By default, the text field has a sans-serif font and the textarea has a serif font. 
The font sizes are different too.

b) Most of the HTML elements inherit the font family and font size from body. 
But the text input fields don't. They use their default values. To customize, we need to specify these properties separately


Example:
input[type="text"], textarea {
  width: 300px;
  padding: 15px;
  margin: 5px 0;
  width: 20em;
  border: 1px solid lightgray;
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
}

8) 





