HTML:
<img src="https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/CSS3_7dax2FGGb.svg">
<h2>CSS is easy!</h2>
<hr>
<p class="paragraph" id="para">
  CSS is a powerful and relatively straightforward language used for styling web pages.
</p>

CSS:
* {
  text-align: center;
}
/* brings everything in the center */

img {
  height: 100px;
  width: 80px;
}

p {
  font-size: 30px;
}

.paragraph {
  background-color: steelblue;
  padding: 10px;
}

#para {
  color: white;
}

-> In the above example, we tried to style the paragraph in three different ways.
We used the element selector p and changed the font size.
We used the class selector .paragraph to change the background color.
Finally, we used the #para id selector and changed the color of the text.
As can be seen, we can select an element using any type of selector.
