1) Overview:
When we want to apply styles to a part of an element like the first letter or first line of a paragraph or add some content before or after an element using CSS, without actually adding a new element in HTML, 
we can use pseudo-elements, like:- 
i) ::first-line --> used to style only the first line of a paragraph or the first line of each paragraph differently, 
ii) ::first-letter --> used to style only the first letter of a paragraph or the first letter of each paragraph differently, 
iii) p:first-child::first-letter --> changes 1st para's, 1st letter as asked...
iv) ::before --> helps to make changes at the start, 
v) ::after --> helps to make changes in the end!

Example:
HTML:
<p id="intro">
  Dale Carnegie was an American writer and lecturer, and the developer of courses in self-improvement, salesmanship, corporate training, public speaking, and interpersonal skills.
</p>
<h2>Famous Quote:</h2>
<p id="quote">
  Remember, today is the tomorrow you worried about yesterday.
</p>

CSS:
p {
  font-size: 1.1rem;
}
#intro::first-letter {
  font-size: 2.5rem;
  color: purple;
}

#quote::before {
  content: '“';
  font-size: 2rem;
  color: purple;
}

2) 
