6) Media Queries for Orientation:
We can also change some styles based on whether our web page is being viewed in: 
i) portrait orientation: when the screen width is smaller than the height or 
ii) landscape orientation: screen width is larger than the height!

Example:
p {
  width: 50%;
}
@media screen and (orientation: portrait) {
  p {
    width: 100%;
  }
}

7) Responsive Images:
To make images responsive without media queries, set their `max-width` to 100%. 
This ensures the image fills the screen on smaller devices, while not exceeding its original size (800px, for example) on larger screens. 
Resize the screen to see how the image adjusts—no empty space on large screens or scrollbars on small ones.

Example:
img {
  width: 800px;
  max-width: 100%
}

8) 
