12) Justify Content: justify-content property justify the grid items along the row or X-axis.
helps to shift content on:
i) left (start),
ii) right (end), 
iii) center,
iv) space-around,
v) space-between,
vi) space-evenly!

syntax: justify-content: start/end/center/space-around/space-between/space-evenly

13) Align Content: similar to justify-content, here it aligns with the column or Y-axis!
syntax: align-content: start/end/center/space-around/space-between/space-evenly

14) Justify Items: similar to justify-content but justify-items property gets applied to all the grid items inside the container along the row or X-axis.
syntax: justify-items: start/end/center/stretch (as it is)

15) Align Items: similar to align-content but align-items property gets applied to all the grid items inside the container along the column or Y-axis.
syntax: align-items: start/end/center/stretch (as it is)

16) Justify Self: applied to an individual grid item and aligns the grid item along the row or X-axis within a cell.
syntax: justify-self: start/end/center/stretch (as it is)

17) Align Items: applied to an individual grid item and aligns the grid item along the column or Y-axis within a cell.
syntax: align-self: start/end/center/stretch (as it is)

18) Grid Column: it's the shorthand for grid-column-start and grid-column-end. 
The grid-column property sets the width of an individual grid item.

Example:
.item1 {
  grid-column: auto auto;
}
.item2 {
  grid-column: 1 / 4; /*starts before the first column and ends just before the fourth one.*/
}
.item3 {
  grid-column: span 2; /*spans 2 columns.*/
}
.item4 {
  grid-column: 1 / span 3; /*tarts before the first column and spans for 3 columns.*/
}
.item6 {
  grid-column: 1 / -1; /*starts before the first column and ends just before the last column.*/
}

19) 
