* Overview:
Without styling, HTML tables look plain. Let's look at some of the commonly used properties to enhance their look and readability

1) Border:
HTML:
<table>
  <tr>
    <th>Sport</th>
    <th>Equipment</th>
  </tr>
  <tr>
    <td>Boxing</td>
    <td>Gloves</td>
  </tr>
  <tr>
    <td>Archery</td>
    <td>Arrow</td>
  </tr>
</table>

CSS:
table, th, td {
  border: thin doubled black;
}

2) Border Collapse for Tables:
If you have noticed whenever we keep the style of the border: a double; 
there are 2 lines, which don't suit many times and we feel to remove them, so there will use, border-collapse!
HTML: (above HTML code)

CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse; /*no double lines!*/
}

The default value for this property is separate.

3) Width for Tables:
Manier times content inside a table does not fit properly, so at this moment we can set the width as min-width: 500px;
doing this our content can fit easily and if the contact is less, the width gonna be automatically lesser!

HTML: (above code)

CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
table {
  min-width: 500px;
}

4) Similarly, we can set the width for columns (td) separately, if not table!

5) Height for Tables:
As we did for width, we can do for Height of the table, keeping max-height: 500px!

6) Similarly, we can set the height for rows & individual rows separately, using th & td, if not table!

7) Horizontal alignment in Tables:

a) By default, the text in the header row is center aligned and the text in all other rows is left aligned. 
The text-align property can be used to change this alignment using the values left, right, center, or justify!
CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
table {
  min-width: 500px;
  text-align: left
}

b) We can align text differently for the header row and other rows by setting values for th and td separately!
CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
th {
  min-width: 500px;
  text-align: left
}
td {
  min-width: 500px;
  text-align: center
}

8) Vertical alignment in Tables:
When you set a height for the entire table or for individual rows, the text is vertically aligned to the middle by default. 
The 'vertical-align' property can be used to change this alignment using the values "top, middle, or bottom".
CSS: 
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
the, td {
  min-width: 500px;
  min-height: 500px
  vertical-align: left
}

The vertical-align property has no effect on the table selector.

9) Padding in Tables:
Similar to other elements like div and p, you can set padding for table cells using the th and td selectors!
CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
the, td {
  min-width: 500px;
  text-align: left;
  padding: 10px 15px 17px 22px;
}

10) Background Color for Tables:
We can set background-color for the entire table using the table selector. 
Or we could do this separately for any of the rows using the th or td selectors:
CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
th {
  background-color: blue;
}
td {
  background-color: white;
}

11) 





