* Overview:
Without styling, HTML tables look plain. Let's look at some of the commonly used properties to enhance their look and readability

1) Border:
HTML:
<table>
  <tr>
    <th>Sport</th>
    <th>Equipment</th>
  </tr>
  <tr>
    <td>Boxing</td>
    <td>Gloves</td>
  </tr>
  <tr>
    <td>Archery</td>
    <td>Arrow</td>
  </tr>
</table>

CSS:
table, th, td {
  border: thin doubled black;
}

2) Border Collapse for Tables:
If you have noticed whenever we keep the style of the border: a double; 
there are 2 lines, which don't suit many times and we feel to remove them, so there will use, border-collapse!
HTML: (above HTML code)

CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse; /*no double lines!*/
}

The default value for this property is separate.

3) Width for Tables:
Manier times content inside a table does not fit properly, so at this moment we can set the width as min-width: 500px;
doing this our content can fit easily and if the contact is less, the width gonna be automatically lesser!

HTML: (above code)

CSS:
table, th, td {
  border: 1px solid darkgray;
  border-collapse: collapse;
}
table {
  min-width: 500px;
}

4) 
