Styling Tables Assessment:

Using the Styling Tables knowledge that you have gained so far, do the following:
Add a background color of #FF7F50 to header row.
Add a background color of #FFFACD to even rows.
Add a black solid border of 1px to the whole table, and the cells and ensure no double borders.
Apply padding of 10px to the table cells.
Center the text in the cells both vertically as well as horizontally.

HTML:
<table>
  <tr>
    <th>Serial Number</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Oliver</td>
    <td>Tran</td>
    <td>tran@gmail.com</td>
    <td>a42df34s</td>
  </tr>

{" "}
<tr>
  <td>2</td>
  <td>Priya</td>
  <td>Sen</td>
  <td>priyasen@gmail.com</td>
  <td>54#NASD232</td>
</tr>

{" "}
<tr>
  <td>3</td>
  <td>Mazahir</td>
  <td>H</td>
  <td>mazahirh1999 @gmail.com</td>
  <td>NASDAQ23@#</td>
</tr>

{" "}
<tr>
  <td>4</td>
  <td>Chirag</td>
  <td>Gautham</td>
  <td>chiraggautham@bigbinary.com</td>
  <td>86rfghju#%</td>
</tr>

  <tr>
    <td>5</td>
    <td>Nithin</td>
    <td>Krish</td>
    <td>nithinkrish@gmail.com</td>
    <td>62ghytwTTY</td>
  </tr>
</table>

CSS:
body {
  background-color: #DEB887;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: #FF7F50;
}

th, td {
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #FFFACD;
}
