List of all colors supported by the modern browsers and can be used:
https://www.w3docs.com/learn-css/css-color-names.html

* Basic method:
HTML:
<h1>
  Light gray heading on a black background
</h1>

CSS:
body {
  background-color: black;
}
h1 {
  color: lightgray;
}

* RGB Color Values:
With color names, you can only choose from the 140 ones given here: https://www.w3docs.com/learn-css/css-color-names.html. 
For styling, we need more freedom.
To get a specific color, we can mix the 3 primary colors Red, Green, and Blue in different proportions. This way, we can create any color that we require.

For example, look at the code given below:
HTML:
<h1>
  Web Design
</h1>
<p id="one">
  Web design encompasses many different skills and disciplines in the production and maintenance of websites.
</p>
<p id="two">
  The different areas of web design include web graphic design; user interface design (UI design); authoring, including standardised code and proprietary software; user experience design (UX design); and search engine optimization.
</p>

CSS:
h1 {
  /* Orange */
  color: rgb(255, 165, 0);
}
#one {
  /* Gray */
  color: rgb(128, 128, 128);
}
#two {
  /* Black background */
  background-color: rgb(0, 0, 0);
  /* White text */
  color: rgb(255, 255, 255);
}

* HEX Color Values:
HEX color value is a mix of Red, Green, Blue color values. The colour code uses the hexadecimal number range from 00 to ff to represent the different intensities.

Look at the code given below:
HTML:
<h1>
  Web Design
</h1>
<p id="one">
  Web design encompasses many different skills and disciplines in the production and maintenance of websites.
</p>
<p id="two">
  The different areas of web design include web graphic design; user interface design (UI design); authoring, including standardised code and proprietary software; user experience design (UX design); and search engine optimization.
</p>

CSS:
h1 {
  /* Orange */
  color: #ffa500;
}
#one {
  /* Gray */
  color: #808080;
}
#two {
  /* Black background */
  background-color: #000000;
  /* White text */
  color: #ffffff;
}

* HSL color system:
(reference: https://courses.bigbinaryacademy.com/learn-css/colors/hsl-color-system/ )
In the HSL color system, colors are represented by three values: Hue, Saturation, and Lightness.

HTML:
<p class="purple">I am purple.</p>
<p class="blue">I am blue.</p>
<p class="green">I am green.</p>

CSS:
.purple {
  color: hsl(300, 100%, 25%);
}
.blue {
  color: hsl(210, 45%, 20%);
}
.green {
  color: hsl(150, 50%, 70%);
}

