1) Float Property:
We can use the float property to put an element on the right or left side inside its parent element. 
This takes the element out of the normal page structure and the other elements can wrap around it!

HTML:
<div>
  <img src="https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/har-ki-doon-valley-uttarakhand_tJ6flaLSZ.jpg" alt="Har ki Doon Valley Uttarakhand">
  <h1>Har Ki Doon</h2>
  <p>
    Har Ki Doon or Har Ki Dun is a cradle-shaped hanging valley in the Garhwal Himalayas of Uttarakhand, India. The region is surrounded with green Bugyals (High Altitude Meadows). It is surrounded by snow-covered peaks and alpine vegetation. It is connected to Baspa Valley by the Borasu Pass. (Credits: Wikipedia)
  </p>
</div>

CSS:
img {
  float: left;
  padding-right: 15px;
  width: 250px;
}

The commonly used values for this property are:
left,
right,
none!

2) Clear Property:
In the following example, we have added another div after the first one. 
The first div has an image that we floated to the left. 
Look at what's happening:

HTML:
<div id="intro">
  <img src="https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/aliyar-dam-pollachi_plFB33l2XF.jpg" alt="Aliyar Dam Pollachi">
  <p>
    A dam is a barrier that stops or restricts the flow of surface water or underground streams. Reservoirs created by dams not only suppress floods but also provide water for activities such as irrigation, human consumption, industrial use, aquaculture, and navigability.
  </p>
</div>

<div id="more">
  <h2>Uses of dams</h2>
  <p>
    A dam can also be used to collect or store water which can be evenly distributed between locations. Dams generally serve the primary purpose of retaining water, while other structures such as floodgates are used to manage or prevent water flow into specific land regions. The earliest known dam is the Jawa Dam in Jordan, dating to 3,000 BC.
  </p>
</div>

CSS:
img {
  float: left;
  padding-right: 15px;
  width: 150px;
}

The second div starts occupying the remaining space around the floated element.
To prevent this from happening, we have to use the clear property on our second div!

Updated CSS Code:
img {
  float:left;
  padding-right: 15px;
  width: 150px;
}
#more {
  clear: left;
}

The value of clear should be similar to that of float specified previously. 
Or you can also use the value both to simply clear both the right as well as left direction.

3) Clearfix:
We can use the clear property on the next element to clear the effect of the float property. 
However, we still have a problem. If the floating element is taller than its parent, it overflows the parent's boundaries. 
Look at the example given below:

HTML:
<div>

  <img src="https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/aliyar-dam-pollachi_plFB33l2XF.jpg" alt="Aliyar Dam Pollachi">
  <p>
    A dam is a barrier that stops or restricts the flow of surface water or underground streams. Reservoirs created by dams not only suppress floods but also provide water for activities such as irrigation, human consumption, industrial use, aquaculture, and navigability.
  </p>

</div>

CSS:
img {
  float:left;
  padding-right: 15px;
  width: 150px;
}
div {
  background-color: lightgreen;
  padding: 15px;
}

There are many ways to solve this problem. 
However, the most common method used is to add a class clearfix to the parent of the floating element and define the following properties using ::after:

CSS:
img {
  float:left;
  padding-right: 15px;
  width: 150px;
}
div {
  background-color: lightgreen;
  padding: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
