1) em: (dependent on parent)
When the length of an element is specified using em, it is calculated based on the font size of the element.

Example:
HTML:
<div>
  Relative unit 'em'
</div>

CSS:
div {
  font-size: 20px;
  width: 10em;             
  /*(10em*20px)*/
  background-color: blue
}

If an element has no font-size specified, the length is calculated based on the font size of its nearest parent element.
Example:
HTML:
<div id="parent">
  <h1 id="child">
    Relative unit 'em'
  </h1>
</div>

CSS 1:
#parent {
  font-size: 20px;
}
#child {
  width: 10em;
  height: 10em;
  /* 10em = 10*font-size-of-parent = 10*15px = 150px */
  background-color: blue;
}

CSS2:
#child {
  width: 10em;
  height: 10em;
  /* 10em = 10*font-size-of-parent = 10*16px = 160px */
  background-color: blue;
}

*If no font size is given, the default gonna be 16px.

2) rem: (dependent on root: <html> </html>)

HTML: 
<div id="first">
</div>
<div id="second">
</div>

CSS:
html {
  font-size: 10px;
}
#first {
  width: 10rem;
  height: 10rem;
  background-color: beige;
  font-size: 1em;
}
#second {
  width: 10rem;
  height: 10rem;
  background-color: orange;
  font-size: 24px;
}

*font size 24px won't be counted as the root HTML tag has size 10px.
10rem = 10*font-size-of-html = 10*10px = 100px

3) padding:
Padding is the space between the content of an element and its border. It creates a buffer zone inside the element, adding space around the content while keeping it within the element's border. 
Padding is useful for improving readability and layout by providing separation between content and the element's edge.

4) vh:
When length is specified using vh, it is calculated based on the window height, also known as viewport height.
The viewport is the visible part of a screen. In the example given below, the viewport is the rectangular window given below the code editor, and, the div covers it completely with a height of 100vh.
1vh is 1% of the window height. So, 100vh is equivalent to the window height.

Example:
HTML:
<div>
  Occupies 100% height of the window.
</div>

CSS:
div {
  height: 100vh;
  background-color: beige;
}
